.card{
    display: grid;
    backdrop-filter: blur(12px) saturate(150%);
    -webkit-backdrop-filter: blur(12px) saturate(150%);
    background-color: #8686863b;
    border-radius: 12px;
    border: 1px solid var(--borda);
    justify-items: center;
    width: 20rem;
    height: fit-content;
    padding: 1rem;
}

.imgcard img {
    width: 10rem;
    height: auto;
    border-radius: 100rem;
}

.imgcard {
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    padding: 1rem;
    border-radius:7rem;
    border: #0000006c 1px solid;
}

.card span a img{
    width: 3rem;
    transition: ease .3s;
}
.card span a img:hover{
    opacity: .5;
}

.contact {
    display: grid;
    place-items: center;
    color: #000;
}


.contact a {
    color: #0059ff;
    text-decoration: none;
    transition: ease-in;
    transition-duration: .2s;
}

.contact a:hover {
    color: #003eb2;
    text-shadow: #7aa8ff 1px 0px 2px;
}

.socialMedia {
    display: flex;
}