@import url('https://fonts.googleapis.com/css2?family=Work Sans:wght@400&display=swap'); /* WORK SANS REGULAR */

@import url('https://fonts.googleapis.com/css2?family=Work Sans:wght@600&display=swap'); /* WORK SANS BOLD */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap'); /* WORK SANS BOLD */

@import url('https://fonts.googleapis.com/css2?family=IBM Plex Mono:wght@400&display=swap'); /* WORK SANS REGULAR */

.container {
  margin: auto;
  display: grid;
  place-items: center;
  font-family: Ubuntu , sans-serif;
  font-size: 1rem;
  width: 90vw;
  place-content: center;
}

.container a {
  transition: ease .2s;
  text-decoration: none;
  display: grid;
  text-align: center;
}

.contactButton:hover {
  color: rgb(77, 77, 77);
  background-color: #cdcdcd;
}

.header {
  display: flex;
  align-items: center;
  width: 96vw;
  justify-content: space-between;
  margin: 0 5vw;
}

.contactButton {
  background-color: #b0b0b0;
  color: #000;
  padding: 0.5rem 0.8125rem;
  border-radius: 1.5625rem;
  font-weight: bold;
  font-size: .8rem;
}

.main::before {
  content: "";
  width: 92vw;
  height: 4px;
  background-color: #000;
  border-radius: .25rem;
  display: block;
  margin: 0 auto 3% auto;
}

.main {
  display: grid;
  margin: 0 15vw;
}

.footer::before {
  content: "";
  width: 92vw;
  height: 4px;
  background-color: #000;
  border-radius: .25rem;
  display: block;
  margin: 3% auto 0 auto;
  place-self: center;
}

.footer {
    display: grid;
    margin: 0 15vw;
    place-self: center;    
    place-content: center;
}

.footer a {
  color: #0059ff;
  text-decoration: underline;
}

.footer a:hover {
  color: #003eb2;
  text-shadow: #7aa8ff 1px 0px 2px;
}

.footer p{
  text-align: center;
}